body {
    background-color: #131413;
    color:white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

#register {
    margin-top:5%;
}

#title {
    background: -webkit-linear-gradient( #78ffd6, #007991);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#login {
    text-align: center;
    float:left;
    margin-top: 30%;
    background: transparent;
}

#logo {
    font-family: 'Pacifico', cursive;
    font-size:30px;
}

#demo {
    float:right;
}





#main {
    padding-top:3%;
}

#buybutton {
    margin-left: 5%;
    margin-bottom: 5%;
    float: left;
}

#buybutton img{width: 100px;}